body {
    font-family: Arial, sans-serif;
    background: rgba(186, 155, 0, 0.72);
    padding: 20px;

}

.card, .table-card {
    background: white;
    padding: 20px;
    border-radius: 8px;
    width: 800px;
    margin: auto;
    margin-bottom: 20px;
    box-shadow: 0 4px 10px rgba(0,0,0,0.1);
}

h2 {
    text-align: center;
}

label {
    font-weight: bold;
    margin-top: 10px;
    display: block;
}

input, textarea {
    width: 100%;
    padding: 6px;
    margin-top: 5px;
}

.inline input {
    width: auto;
    margin-right: 8px;
}

.profile {
    display: flex;
    gap: 15px;
    margin-top: 8px;
}

.profile input {
    display: none;
}

.profile img {
    width: 55px;
    height: 55px;
    border-radius: 50%;
    border: 3px solid transparent;
    cursor: pointer;
}

.profile input:checked + img {
    border-color: #4f46e5;
}

small {
    color: red;
}

.buttons {
    text-align: center;
    margin-top: 15px;
}

button {
    padding: 8px 18px;
    background: #4f46e5;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

table {
    width: 100%;
    border-collapse: collapse;
}

th, td {
    border: 1px solid #ccc;
    padding: 8px;
    text-align: center;
}

td img {
    width: 40px;
    height: 40px;
    border-radius: 50%;
}
