body{
    font-family : Arial, sans-serif;
    background :#f2f4f7;
    padding :40px;
}
h2{
    text-align:center;
}
.form{
    width:300px;
    margin:auto;
    background:#fff;
    padding:20px;
    border-radius:6px;
    box-shadow: 0  0 10px rgba(0,,0,0,0.1);
}
label{
    display:block;
    margin-top:10px;
}
input, select{
    width:100%;
    padding:6px;
    margin-top:5px;
}
button{
    width:100%;
    margin-top:15px;
    color:white;
    border:none;
    cursor:pointer;
}
button:hover{
    background:#0056b3;
}
.output{
    margin-top:20px;
    text-align: center;
    font-weight:bold;
}
table{
    border-collapse :collapse;
    margin-top:20px;
    background:white;
}
th, td{
    padding:8px;
    text-align:center;
}
th{
    background:#007bff;
    color:white;
}